html, body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  overflow: hidden;
}

body {
    display: flex;
}

#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
    background-color: black;
    z-index: 200;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title {
    font-size: 36px;
    color: silver;
    margin: 0;
    line-height: 0;
}

p {
    color: silver;
    font-size: 14px;
}

#name {
    line-height: 0;
}

#directions {
    text-align: center;
    width: 80%;
    margin-bottom: 25px;
}

form {
    width: 75%;
}

select {
    width: 100%;
    height: 26px;
    margin-bottom: 50px;
    font-size: 18px;
    border-radius: 3px;
    color: rgb(119, 117, 117);
}

.icons {
    display: flex;
    width: 35%;
    justify-content: space-between;

}

.fab {
    color: silver;
    font-size: 36px;
}

#map {
    width: 75%;
    height: 100%;
}

div.popup {
    padding: 5px;
     z-index: 500;
     position: absolute;
     text-align: center;
     background: black;
     color: red;
     pointer-events: none;
     border-radius: 5px;
}
